.toolbar{
  display :flex;
  align-items: center;
  text-align: center;
  height: 100%;
  .toolbar-toggle{
    flex: 1;
    text-align: left;
    @include mQMin(767px){
      display: none;
    }
  }
  .toolbar-nav{
    flex :1;
    @include mQ(767px){
      display: none ;
    }
    ul{
      list-style: none;
      padding :0;
      margin :0;
      display: flex;
      justify-content: space-between;
      li.toolbar-nav-item{
        padding: 0 1rem;
        a.toolbar-nav-link{
          text-decoration: none;
          color: $black;
          text-transform: uppercase;
          text-align: center;
          margin: 0px 10px;
          cursor: pointer;
          font-size: 0.625rem;
          font-weight: 700;
          letter-spacing: 1px;
          
        }
      }
    }
  }
  .toolbar-brand{
    flex :1;
    img{
      width : 120px;
    }
  }
  .toolbar-cart{
    flex :1;
    text-align: right;
    padding :0 20px;
    @include mQ(767px){
      padding :0 !important;
    }
  }
}

@media(min-width : 768px){
  .toolbar-toggle{
    
  }
  
}
@media(max-width :768px){
  .toolbar-nav{
    
  }
  .toolbar-cart{
    
  }
}