.img-list{
    display :flex;
    justify-content: center;
    margin-top: 1rem;
    .img-list-item.active{
        border :1px solid #333;
    }
    .img-list-item{        
        border-radius :50%;
        padding :2px;
        img{
            border-radius :50%;
            width:40px;
            height :40px;
        }
    }
}