@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");
html {
  height: 100%; }

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%; }

#root {
  height: 100%; }

.main-heading {
  font-family: "Montserrat", sans-serif;
  font-size: 2.7rem;
  font-weight: 500; }

@media (max-width: 767px) {
  .main-heading {
    font-size: 1.7rem; } }

.f-btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 65px;
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  padding: 10px 20px;
  transition: all 300ms ease 0s;
  margin: 0px auto; }
  .f-btn:hover {
    background-color: #2f1c2f; }

.f-filled-btn {
  color: #fff;
  background-color: #452a46;
  border: 1px solid #4e1d51; }

.f-border-btn {
  color: #4e1d51;
  background-color: transparent;
  border: 1px solid #4e1d51; }

.toolbar {
  display: flex;
  align-items: center;
  text-align: center;
  height: 100%; }
  .toolbar .toolbar-toggle {
    flex: 1;
    text-align: left; }
  .toolbar .toolbar-nav {
    flex: 1; }
    .toolbar .toolbar-nav ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: space-between; }
      .toolbar .toolbar-nav ul li.toolbar-nav-item {
        padding: 0 1rem; }
        .toolbar .toolbar-nav ul li.toolbar-nav-item a.toolbar-nav-link {
          text-decoration: none;
          color: #000;
          text-transform: uppercase;
          text-align: center;
          margin: 0px 10px;
          cursor: pointer;
          font-size: 0.7rem;
          font-weight: 700;
          letter-spacing: 1px; }
  .toolbar .toolbar-brand {
    flex: 1; }
    .toolbar .toolbar-brand img {
      width: 120px; }
  .toolbar .toolbar-cart {
    flex: 1;
    text-align: right;
    padding: 0 20px; }

@media (max-width: 768px) {
  .toolbar-nav {
    display: none; }
  .toolbar-cart {
    padding: 0; } }

@media (min-width: 768px) {
  .toolbar-toggle {
    display: none; } }

.side-drawer {
  height: 100%;
  background-color: #fff;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5000;
  transform: translateX(-100%);
  transition: transform 0.5s ease-out; }

.open {
  transform: translateX(0); }

.cart-drawer {
  height: 100%;
  background-color: #faf5f3;
  width: 40%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 5000;
  transform: translateX(100%);
  transition: transform 0.5s ease-out; }

.open-cart {
  transform: translateX(0); }

@media (max-width: 500px) {
  .cart-drawer {
    width: 100%; } }

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100; }

.toggle-button {
  background: transparent;
  border: none; }

.cart-toggle-button {
  background-color: transparent;
  border: none; }
  .cart-toggle-button:focus, .cart-toggle-button:active {
    outline: none; }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 4000; }

@media (max-width: 767px) {
  header {
    background-color: #fff; } }

.layout {
  height: 100%; }

.app {
  height: 100%; }

.showcase {
  text-align: center;
  min-height: 90vh;
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .showcase .showcase-wrapper {
    margin-bottom: 5rem;
    position: relative;
    z-index: 4000; }
    .showcase .showcase-wrapper .showcase-head {
      margin-bottom: 2.5rem; }
  .showcase .showcase-img-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    opacity: 1; }

@media (max-width: 767px) {
  .showcase {
    display: block; }
    .showcase .showcase-wrapper {
      position: absolute;
      top: 1em;
      left: 50%;
      transform: translate(-50%, 50%);
      padding: 0 20px; }
      .showcase .showcase-wrapper .showcase-head {
        margin-bottom: 1.5rem; } }
