html {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  height: 100%; }

#root {
  height: 100%; }

.toolbar {
  display: flex;
  align-items: center;
  text-align: center;
  height: 100%; }
  .toolbar .toolbar-nav {
    flex: 1; }
    .toolbar .toolbar-nav ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: space-between; }
      .toolbar .toolbar-nav ul .toolbar-nav-item {
        padding: 0 1rem; }
  .toolbar .toolbar-brand {
    flex: 2; }
  .toolbar .toolbar-cart {
    flex: 1;
    text-align: right; }

.side-drawer {
  height: 100%;
  background-color: #fff;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200; }

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100; }

.toggle-button {
  background: transparent;
  border: none; }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #eee;
  height: 70px; }

.layout {
  height: 100%; }
  .layout main {
    margin-top: 80px; }

.app {
  height: 100%; }
