$primary-color :  rgb(69, 42, 70);
$primary-light-color :rgb(118, 54, 121);
$primary-dark-color :rgb(47, 28, 47);
$secondery-color : rgb(250, 245, 243);
$white :rgb(255 , 255 ,255);
$grey :rgb(169, 169, 169);
$black :#000;
$black-lighten :#333;