html{
  height: 100%;
}
body{
  font-family: 'Montserrat', sans-serif ;
  margin : 0;
  padding: 0;
  height :100%;
  box-sizing :border-box;
  color : #000 !important;
}
ul{
  margin :0;
  padding: 0;
  list-style: none;
}
#root{
  height :100%;
}
@import './mixins.scss';
@import './colors.scss';
@import './typography.scss';
@import './buttons.scss';
@import '../js/components/toolbar/toolbar.scss';
@import '../js/components/affix/affix.scss';
@import '../js/components/sideDrawer/side_drawer.scss';
@import '../js/components/cartDrawer/cart_drawer.scss';
@import '../js/components/backdrop/backdrop.scss';
@import '../js/components/drawerToggleButton/drawer_toggle_button.scss';
@import '../js/components/cartToggleButton/cart_toggle_button.scss';
@import '../js/components/header/header.scss';
@import '../js/components/footer/footer.scss';
@import '../js/components/layout/layout.scss';
@import '../js/components/app/app.scss';
@import '../js/components/colorPalette//color_palette.scss';
@import '../js/components/showcase/showcase.scss';
@import '../js/components/featuredProduct/featuredProduct.scss';
@import '../js/components/product/product.scss';
@import '../js/containers/home/home.scss';
@import '../js/containers/products/products.scss';

